<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8">
    <title>Sentiment Analysis</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Analysis of the text</h1>

        <form method="POST" action="{{ url_for('render_index_page') }}">
            <div class="mb-3">
                <label class="form-label">Enter text to analysis</label>
                <textarea name="text" class="form-control" rows="3" required
                          placeholder="Enter your text here">{% if result %}{{ result.text }}{% endif %}</textarea>
            </div>
            <button type="submit" class="btn btn-secondary">Analysis now!</button>
        </form>
    </div>
</body>
</html>
